.new-container {
    height: 100vh;
    width: 100%;
    max-width: 800px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 2px 1px 10px lightgrey;
    overflow: hidden; 
}

.new-compartment {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 60px;

    padding-left: 20px;
    padding-right: 20px;
    box-sizing: content-box;
    overflow: scroll;
    /* margin-bottom: 2px; */
}
