.chatRoomContainer {
    height: 100vh;
    width: 100%;
    max-width: 800px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    box-shadow: 2px 1px 10px lightgrey;
}

.chatRoomFloatingHeader {
    color: black;
    background-color: white;
    top: 10px;
    position: absolute;
    width: 300px;
    height: 50px;
    display: flex;
    flex-direction: row;
}
.chatRoomHeaderLeft {
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.chatRoomHeaderRight {
    width: 80%;
    margin-right: 15%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    font-weight: 400;
}


.chatRoomChatContainer {
    width: 100%;
    height: 100vh;
    margin: 70px 0px 60px 0px; /* top right bottom left */
    display: flex;
    flex-direction: column;
    overflow: scroll;
    /* background-color: red; */
}

.chatRoomChatRow {
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 0px 10px 0px 10px;
    /* background-color: black; */
    display: flex;
    align-items: center;
}
.chatRoomBubbleLeft {
    margin-left: 5px; 
    margin-right: auto;
    color: black;
    background-color: white;
    box-shadow: 2px 1px 10px lightgrey;
    border-radius: 15px 15px 15px 0px;
    width: auto;
    max-width: 70%;
    padding: 5px 10px 5px 10px;
    display: block;
}
.chatRoomBubbleRight {
    margin-left: auto; 
    margin-right: 5px;
    color: white;
    background-color: var(--themeLightGreen);
    box-shadow: 2px 1px 10px lightgrey;
    border-radius: 15px 15px 0px 15px;
    width: auto;
    max-width: 70%;
    padding: 5px 10px 5px 10px;
    display: block;
}
.chatRoomBubbleText {
    font-weight: 500;
}

.chatRoomBubbleTimestamp {
    display: flex;
    color: lightgray;
    justify-content: flex-end;
}


.chatRoomFloatingFooter {
    color: white;
    bottom: 0px;
    position: absolute;
    width: 100%;
    height: 50px;
    display: flex;
    flex-direction: row;
}
.chatRoomFooterLeft {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.chatRoomFooterRight {
    float: right;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}