.welcome-page {
    width: 100%;
    overflow: scroll;
}

.welcome-page-container {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-image: url('https://raw.githubusercontent.com/Kushagrabainsla/play/master/public/social_picture.webp');
}

.welcome-get-started-button {
    font-weight: 600;
    font-size: 15px;
    font-family: 'Poppins', sans-serif;

    margin-top: 30px;
    background-color: white;
    color: #264653;
    padding: 10px 40px 10px 40px;
    font-weight: 600;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    border: 1.8px solid #264653;
    box-shadow: 2px 1px 10px black;
    cursor: pointer;
}

.welcome-text-container {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.welcome-text-bold {
    color: white;
    font-weight: 600;
    font-size: 200px;
    font-family: 'Poppins', sans-serif;
}
.welcome-text-light {
    color: white;
    font-weight: 400;
    font-size: 40px;
    font-family: 'Poppins', sans-serif;

}

.welcome-page-about {
    width: 100%;
    padding: 50px;
    display: flex;
    flex-direction: column;
    font-family: 'Poppins', sans-serif;
}
.welcome-additionals-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}
.additionals-text {
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 5px;
    font-weight: 300;
    color: #264653;
    font-family: 'Poppins', sans-serif;
    cursor: pointer;
}


@media only screen and (max-width: 500px) and (min-width: 400px)
{
    .welcome-text-bold {
        font-size: 150px;
    }
    .welcome-text-light {
        font-size: 30px;
    }
    .welcome-page-about {
        padding: 40px;
    }
    .welcome-get-started-button {
        padding: 7px 30px 7px 30px;
    }
}

@media only screen and (max-width: 400px)
{
    .welcome-text-bold {
        font-size: 100px;
    }
    .welcome-text-light {
        font-size: 20px;
    }
    .welcome-page-about {
        padding: 30px;
    }
    .welcome-get-started-button {
        padding: 7px 30px 7px 30px;
    }
    .welcome-additionals-container {
        flex-direction: column;
    }
}
