.welcomePageContainer {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.welcomeText {
    font-size: 50px;
    font-weight: 200;

}