.login-page-container {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.login-container {
    width: 90%;
    height: 90vh;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
    overflow: scroll;
    border-radius: 30px;
    box-shadow: 3px 3px 10px lightblue;
}
.login-right-container {
    width: 40%;
    min-width: 450px;
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    position: relative; /* For privacy policy */

}
.login-left-container {
    width: 60%;
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    overflow: hidden;
    border-radius: 30px;
    box-shadow: 3px 3px 10px lightblue;
}
.login-picture-container {
    height: 90vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}
.login-picture {
    width: 135%;
}

.login-additionals-container {
    width: 425px;
    position: absolute;
    bottom: 0px;
    text-align: center;
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 10px;
}
.additionals-text {
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 5px;
    font-weight: 300;
    color: #264653;
    font-family: 'Poppins', sans-serif;
    cursor: pointer;
}

.login-card {
    height: 400px;
    width: 280px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    box-shadow: 3px 3px 10px lightblue;
    border-radius: 30px;
}
.login-card-upper {
    width: 100%;
    height: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: red; */
}
.login-play-text {
    font-size: 100px;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
    animation: backgroundGradient 15s infinite alternate;
    background-size: 400%;
    background-image: url('https://github.com/Kushagrabainsla/play/blob/master/public/social_picture.jpg?raw=true');
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
}
.login-card-lower {
    width: 100%;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: green; */
}
.google-button {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-width: 10px;
    border-radius: 10px;
    width: 210px;
    height: 40px;
    font-weight: 300;
    border: 2px solid #264653;
    cursor: pointer;
    box-shadow: 2px 1px 10px lightgrey;
    font-family: 'Poppins', sans-serif;
}


@keyframes backgroundGradient {
    0% {
        background-position: left;
    }
    100% {
        background-position: right;
    }
}


@media only screen and (max-width: 850px) and (min-width: 200px)
{
    .login-page-container {
        height: auto;
    }
    .login-container {
        margin-top: 30px;
        margin-bottom: 30px;
        flex-direction: column;
        height: auto;
        box-shadow: none;
        /* background-color: red; */
        overflow: hidden;
    }
    .login-right-container {
        width: 100%;
        height: 100vh;
    }
    .login-left-container {
        width: 100%;
        overflow: hidden;
    }
    .login-picture {
        width: 160%;
    }
}

@media only screen and (max-width: 400px)
{
    .login-page-container {
        height: auto;
    }
    .login-container {
        margin-top: 30px;
        margin-bottom: 30px;
        flex-direction: column;
        height: auto;
        box-shadow: none;
        /* background-color: red; */
        overflow: hidden;
    }
    .login-right-container {
        width: 100%;
        height: 100vh;
    }
    .login-left-container {
        width: 100%;
        overflow: hidden;
    }
    .login-picture {
        width: 160%;
    }
    .login-card {
        margin-bottom: 50px;
    }
    .login-additionals-container {
        display: inline-block;
    }

}

