@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

.loginContainer {
    height: 100vh;
    width: 100%;
    max-width: 800px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* box-shadow: 2px 1px 10px lightgrey; */
    box-shadow: inset 1px 1px 10px 10px black;
}
.loginbBurryBackground {
    width: 100%;
    height: 100vh;

    /* Blurry background */
    background-image: linear-gradient(45deg, var(--themeYellow) 0%, var(--themeRed) 25%, var(--themeLightGreen) 50%, var(--themeDarkGreen) 75%, var(--themeDarkGreen) 100%); 

    /* Add the blur effect */
    filter: blur(5px);
    -webkit-filter: blur(5px);
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.loginUpperLayer {
    height: 100vh;
    width: 100%;
    max-width: 800px;
    display: flex;
    flex-direction: column;
    z-index: 499;
    position: absolute;
    /* background-color: violet; */
}

.loginContainerTop {
    width: 100%;
    height: 30vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.loginPlayImage {
    top: 15vh;
    position: relative;
    width: 35%;
    max-width: 180px;
    z-index: 599;
}

.loginContainerBottom {
    width: 100%;
    height: 70vh;
    display: flex;
    justify-content: center;
}
.loginBottomCard {
    width: 80%;
    max-width: 400px;
    height: 60vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 30px;
    background-color: white;
    box-shadow: 2px 1px 12px black;
}
.loginPlayText {
    width: 100%;
    height: 30vh;
    display: flex;
    align-items: center;
    top: 8vh;
    position: relative;
    justify-content: center;
    font-size: 90px;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;

    /* Create the gradient. */
    /* background-image: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%);  */
    background-image: linear-gradient(45deg, var(--themeYellow) 0%, var(--themeRed) 25%, var(--themeLightGreen) 50%, var(--themeDarkGreen) 75%, var(--themeBlue) 100%); 
    background-size: 100%;
    /* Use the text as a mask for the background. */
    /* This will show the gradient as a text color rather than element bg. */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; /* Text not visible on safari  */
    /* -webkit-text-fill-color: rgb(0,0,0,0.1); Working on safari with black colour  */
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
}
.loginBottom {
    width: 100%;
    height: 30vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.googleButton {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-width: 10px;
    border-radius: 10px;
    width: 210px;
    height: 40px;
    font-weight: 300;
    font-size: 17px;
    border: 2px solid var(--themeDarkGreen);
    cursor: pointer;
    box-shadow: 2px 1px 10px lightgrey;
}
