.chatsPageContainer {
    padding-top: 2vh;
    height: 100vh;
    width: 100%;
    max-width: 800px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 2px 1px 10px lightgrey;
    overflow: scroll;
    /* background-color: red; */
    padding-bottom: 70px;    
}

.singleChatBubble {
    margin-top: 10px;
    width: 95%;
    padding: 0px 10px 0px 5px;
    height: 100px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    box-shadow: 2px 1px 10px lightgrey;
    border-radius: 15px;
    background-color: white;
}

.chatBubbleLeft {
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.chatProfilePhoto {
    width: 80%;
    max-width: 70px;
    border-radius: 50%;
    box-shadow: 2px 1px 10px lightgrey;
    border: 2px solid white;
}

.chatBubbleMid {
    width: 60%;
    height: 100px; /* Same as of chatbubble */
    display: 'flex';
    flex-direction: 'column';
}
.chatBubbleUpperMid {
    height: 50%;
    display: flex;
    align-items: flex-end;
    overflow: hidden;
    color: black;
    font-size: 15px;
    font-weight: 600;

}
.chatBubbleLowerMid {
    height: 50%;
    /* Word overflow with dots. */
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;

    color: gray;
    font-weight: 400;
}

.chatBubbleRight {
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: gray;
}

.chatBubbleSkeleton {
    padding-top: 15px;
    width: 90%;
}

.noChatBubble {
    margin-top: 10px;
    width: 95%;
    display: flex;
    padding: 15px;
    flex-direction: row;
    box-shadow: 2px 1px 10px lightgrey;
    border-radius: 15px;
    /* background-color: red; */
}
.noChatBubbleLeft {
    width: 15%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
}
.noChatBubbleRight {
    width: 85%;
    font-weight: 500;
    color: gray;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
    margin-left: 20px;
    background-color: white;
}

.chatsPageFloatingFooter {
    background-color: white;
    bottom: 10px;
    position: fixed;
    border-radius: 50px;
    box-shadow: 2px 1px 10px lightgrey;
    width: 220px;
    height: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}