.chatsPageContainer {
    padding-top: 5vh;
    height: 100vh;
    width: 100%;
    max-width: 800px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 2px 1px 10px lightgrey;
}

.singleChatBubble {
    margin-top: 10px;
    width: 95%;
    height: 15vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    box-shadow: 2px 1px 10px lightgrey;
    border-radius: 15px;
    color: var(--themeLightGreen);
}

.chatsPageFloatingFooter {
    /* background-color: #0079c1; */
    background-color: var(--themeLightGreen);
    bottom: 10px;
    position: fixed;
    border-radius: 50px;
    box-shadow: 2px 1px 10px grey;
    width: 220px;
    height: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}