.chats-page-container {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    overflow: hidden; 
}
.chats-page-middle-area {
    height: 100vh;
    width: 100%;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    border-left: 1px solid rgb(239, 243, 244);
    border-right: 1px solid rgb(239, 243, 244);
    padding-bottom: 0px;
}
.chats-page-chat-container {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* Hiding scroll bars */
    overflow: scroll;
    padding-left: 20px;
    padding-right: 20px;
    box-sizing: content-box;
}

.sngleChatContainer {
    width: 100%;
}

.singleChatBubble {
    margin-top: -20px;
    margin-bottom: -20px;
    width: 100%;
    padding: 0px 15px 0px 15px;
    height: 80px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.singleChatBubble:hover {
    transition: 0.2s;
    background-color:rgb(248, 248, 248);
}

.chatBubbleLeft {
    width: 80px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.chatProfilePhoto {
    width: 55px;
    border-radius: 50%;
    box-shadow: 2px 1px 10px lightgrey;
    border: 2px solid white;
}

.chatBubbleMid {
    padding-left: 10px;
    width: 100%;
    height: 80px; /* Same as of chatbubble */
    display: 'flex';
    flex-direction: 'column';
}
.chatBubbleUpperMid {
    height: 50%;
    display: flex;
    align-items: flex-end;
    overflow: hidden;
    color: black;
    font-size: 15px;
    font-weight: 600;

}
.chatBubbleLowerMid {
    height: 50%;
    /* Word overflow with dots. */
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    color: rgb(83, 100, 113);
    font-weight: 400;
}

.chatBubbleRight {
    width: 100px;
    float: right;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(83, 100, 113);
}

.chatBubbleSkeleton {
    padding-top: 15px;
    width: 90%;
}

.noChatBubble {
    margin-top: 10px;
    width: 95%;
    display: flex;
    padding: 15px;
    flex-direction: row;
    box-shadow: 2px 1px 10px lightgrey;
    border-radius: 15px;
}
.noChatBubbleLeft {
    width: 15%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
}
.noChatBubbleRight {
    width: 85%;
    font-weight: 500;
    color: gray;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
    margin-left: 20px;
    background-color: white;
}

@media only screen and (max-width: 500px)
{
    .chats-page-middle-area {
        padding-bottom: 50px;
    }
}
