.matchedProfile {
    margin-top: 10px;
    /* background-color: red; */
    width: 95%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    margin-bottom: 10px;
    box-shadow: 2px 1px 10px lightgrey;
}

.matchedProfileTop {
    width: 100%;
    /* background-color: red; */
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.matchedProfileTopLeft {
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: rebeccapurple; */
}
.matchedProfileTopRight {
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    /* background-color: red; */
}

.matchedProfileBottom {
    width: 100%;
    /* height: 50vh; */
    padding-top: 3vh;
    text-align: center;
    /* background-color: rebeccapurple; */
    padding-bottom: 3vh;
}

.interestTagText {
    font-weight: 300;
}