.homeFloatingFooter {
    background-color: white;
    bottom: 10px;
    position: fixed;
    border-radius: 50px;
    box-shadow: 2px 1px 10px lightgrey;
    width: 220px;
    height: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    transition: bottom 0.3s;
}

.chatsPageFloatingFooter {
    background-color: white;
    bottom: 10px;
    position: fixed;
    border-radius: 50px;
    box-shadow: 2px 1px 10px lightgrey;
    width: 220px;
    height: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    transition: bottom 0.3s;
}

.profileFloatingFooter {
    background-color: white;
    bottom: 10px;
    position: fixed;
    border-radius: 50px;
    box-shadow: 2px 1px 10px lightgrey;
    width: 220px;
    height: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    transition: bottom 0.3s;
}
