.floatingFooter {
    display: none;
}

@media only screen and (max-width: 500px)
{
    .floatingFooter {
        bottom: 0px;
        border-radius: 0px;
        width: 100%;
        background-color: white;
        position: fixed;
        box-shadow: 2px 1px 10px lightgrey;
        height: 50px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
        transition: bottom 0.5s;
    }
}