.legal-page-container {
    height: 100vh;
    width: 100%;
    display: flex;
    padding: 50px;
    flex-direction: column;
}

@media only screen and (max-width: 400px)
{
    .legal-page-container {
        padding: 40px;
    }
}