.profileContainer {
    height: 100vh;
    width: 100%;
    max-width: 800px;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    box-shadow: 2px 1px 10px lightgrey;
}

.profile {
    margin-top: 10px;
    width: 95%;
    height: 100vh;
    /* background-color: red; */
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}

.profileFloatingFooter {
    background-color: rebeccapurple;
    bottom: 10px;
    position: fixed;
    border-radius: 10px;

    width: 300px;
    height: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}