.profile-page-container {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    overflow: hidden; 
}
.profile-page-middle-area {
    height: 100vh;
    width: 100%;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: scroll;
    border-left: 1px solid rgb(239, 243, 244);
    border-right: 1px solid rgb(239, 243, 244);
    padding-bottom: 0px;
}
.profileTop {
    margin-top: 2vh;
    padding: 20px;
    width: 95%;
    height: 30vh;
    min-height: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
.profilePhotoContainer {
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    margin-bottom: 10px;
}

.profileSocials {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.profileNameText {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    font-weight: 400;
    padding-bottom: 5px;
}
.shareModalContainer {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.profileBottom {
    width: 95%;
    display: flex;
    text-align: center;
    justify-content: center;
    border-radius: 15px;
    box-shadow: 2px 1px 10px lightgrey;
    margin-bottom: 70px;
    padding-bottom: 3vh;
    padding-top: 3vh;
}
.profileLikes {
    width: 95%;
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
    box-sizing: content-box;
}
.likeContainer {
    display: inline-block;
    color: white;
    font-weight: 500;
    margin: 3px 3px 3px 0px;
    padding: 5px 10px 5px 10px;
    border-radius: 50px;
    background-color: var(--themeLightGreen);
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.likeContainerSkeleton {
    margin: 3px 3px 3px 0px;
    padding: 5px 10px 5px 10px;
}
.profileDetailsSkeleton {
    margin-top: 2vh;
    width: 90%;
    height: calc(40vh - 5vh);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    margin-bottom: 2vh;
}

