.page-left-area {
    height: 100vh;
    display: flex;
    padding: 20px;
    flex-direction: column;
    min-width: 230px;
    width: 250px;
}
.page-left-element {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 15px;
    cursor: pointer;
    padding: 5px 5px 5px 10px;
    border-radius: 30px;
    transition: 0.2s;
}
.page-left-element:hover {
    transition: 0.2s;
    background-color: rgba(15, 20, 25, 0.05);
}
.page-left-element-text {
    padding-left: 15px;
    text-decoration: none;
    font-size: 25px;
    color: rgb(15, 20, 25);
}
.page-left-element-icon {
    margin-left: 2px;
    font-size: 30px;
    color: rgb(15, 20, 25);
}


@media only screen and (min-width: 500px) and (max-width: 850px)
{
    .page-left-area {
        width: auto;
        min-width: auto;
    }
    .page-left-element-text {
        display: none;
    }
}


@media only screen and (max-width: 500px)
{
    .page-left-area {
        display: none;
    }
}