.page-left-area {
    height: 100vh;
    display: flex;
    padding: 20px;
    flex-direction: column;
    min-width: 180px;
    max-width: 180px;
}
.page-left-element {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 20px;
    padding: 5px;
    cursor: pointer;
}
.page-left-element-text {
    padding-left: 10px;
    text-decoration: none;
    font-size: 20px;
    color: rgb(15, 20, 25);
}
.page-left-element-icon {
    font-size: 30px;
    color: rgb(15, 20, 25);
}


@media only screen and (min-width: 500px) and (max-width: 850px)
{
    .page-left-area {
        min-width: auto;
        max-width: auto;
    }
    .page-left-element-text {
        display: none;
    }
}


@media only screen and (max-width: 500px)
{
    .page-left-area {
        display: none;
    }
}