.homeContainer {
    height: 100vh;
    width: 100%;
    max-width: 800px;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    box-shadow: 2px 1px 10px lightgrey;

    /* For hiding scroll bar */
    /* overflow: hidden; */
}

.matchedProfilesContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: scroll;
    /* background-color: red; */

    /* For hiding scroll bar */
    /* overflow: auto; */
    /* padding-right: 20px; */
    /* text-align: center; */
}

.matchedProfile {
    margin-top: 10px;
    /* background-color: red; */
    width: 95%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    margin-bottom: 10px;
    box-shadow: 2px 1px 10px lightgrey;
}

.matchedProfileTop {
    width: 100%;
    /* background-color: red; */
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.matchedProfileTopLeft {
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: rebeccapurple; */
}
.matchedProfileTopRight {
    width: 70%;
    display: flex;
    align-items: center;
    /* background-color: red; */
}

.matchedProfileBottom {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: rebeccapurple; */
    margin-bottom: 10px;
}

.homeFloatingFooter {
    background-color: rebeccapurple;
    bottom: 10px;
    position: fixed;
    border-radius: 10px;

    width: 300px;
    height: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}