.homeContainer {
    height: 100vh;
    width: 100%;
    max-width: 800px;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    box-shadow: 2px 1px 10px lightgrey;

    /* For hiding scroll bar */
    /* overflow: hidden; */
}

.matchedProfilesContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: scroll;
    /* background-color: red; */

    /* For hiding scroll bar */
    /* overflow: auto; */
    /* padding-right: 20px; */
    /* text-align: center; */
}

.homeFloatingFooter {
    /* background-color: #0079c1; */
    background-color: var(--themeLightGreen);
    bottom: 10px;
    position: fixed;
    border-radius: 50px;
    box-shadow: 2px 1px 10px grey;
    width: 220px;
    height: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}
